<div class="brush-boxing-container">
  <div class="header">
    <p class="boxing-header">Shipping</p>
  </div>

  <div class="shipping-tabs tabs">

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Starter Boxes" class="tab-header">
        <bk-starter-boxes [familyPatientList]="familyPatientList"></bk-starter-boxes>
      </mat-tab>
      <mat-tab label="Refill Boxes" class="tab-header">
        <bk-refill-boxes></bk-refill-boxes>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
